.registerSectionDesign {
    margin: 0;
    padding: 0;

    background-color: rgb(255, 255, 255);
    min-height: 50em;

}

.registerBoxDesign {


    margin: 0;
    border: 1px solid azure;
}


.error{
    color: red;
}
.success{
    color: #3FE05C;
}


