.registerSectionDesign {
    margin: 0;
    padding: 0;

    background-color: rgb(62, 244, 250);
    height: 100vh;

}

.registerBoxDesign {


    margin: 0;
    border: 1px solid azure;
}

.error{
    color: red;
}