.chatDesign{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
   
}

.chatCardDesign{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

}
.chatCardSectionDesign{
    margin: 0;
    padding: 0;
   
}

