.profileDesign{
    margin: 0;
    padding: 0;
    padding-top: 3em;
    padding-bottom: 12em;
    background-color: rgb(255, 255, 255);
   
   
}

.logoImg{
    width: 6em;
    height: 4em;
}

label{
    font-weight: bold;
}

.editButtonDesign{
    width: 4em;
     border-radius: 100%;
     background-color: rgb(229, 255, 0);
     color: rgb(0, 0, 0);
      
  }

  .fs-5{
    color: #3FE05C;
  }