.clink-design {

    color: #3FE05C;
    font-weight: bold;

    margin: 1em;

    transition: 0.3s;
    user-select: none;
   

    
}
.status {

  
    color: #3FE05C;
  
    background-color:#b0d3b798;
border-radius: 1em;
    
}



.clink-design:focus {

    
    background-color: rgb(110, 106, 106);
    cursor: pointer;
}