.usersSectionDesign{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
}

.usersCardSectionDesign{
    margin: 0;
    padding: 0;
    
}

.userCardDesign{
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 220, 0);

}