.usersSectionDesign{
    margin: 0;
    padding: 0;
    background-color: rgb(62, 244, 250);
    
}

.usersCardSectionDesign{
    margin: 0;
    padding: 0;
    
}

.userCardDesign{
    margin: 0;
    padding: 0;
    background-color: beige;

}